<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3><strong>Hi, its me, your Tzar :)</strong></h3>
      <hr/>
      <app-servers></app-servers>
      <app-user></app-user>
      <app-password></app-password>
      <button class="btn btn-danger" (click)="toggle()"> {{ condition }} </button>
      <br/><br/>
      <ng-container *ngIf="condition; else elseBlock">
        <app-success-alert ></app-success-alert>
      </ng-container>
      <ng-template #elseBlock >
        <app-warning-alert></app-warning-alert>
      </ng-template>


<!--      <div app-servers></div>-->
<!--      <div class="app-servers"></div>-->
    </div>
  </div>
</div>





